.astro_be {
    padding: 10px;
    background-color: #f5f5f5;
    overflow: hidden;
    max-width: initial !important;
}
.astro_be_column {
    display: block;
    float: left;
    width: 100%;
}
.astro_be_column-inner {
    padding: 5px;
}
.astro_be .astro_be_label {
    display: block;
    white-space: nowrap;
}
.astro_be .astro_be_input:not(.astro_be_input-submit_button),
.astro_be .astro_be_select {
    padding: 5px;
    border: none;
    border-radius: 0;
    background-color: #ffffff;
    width: calc(100% - 10px);
    min-width: 40px;
    cursor: pointer;
}
.astro_be .astro_be_input-submit_button {
    padding: 5px 15px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.astro_be_column-submit_button {
    padding: 0;
    text-align: center;
}
.astro_be_label-submit_button {
    opacity: 0;
}

/* Errors */
.astro-error {
    margin: 0 auto;
    padding: 10px;
    border: 3px solid red;
    text-align: center;
    background: #ffe8e8; /*light red*/
    color: #000000;
}
.astro-error a {
    color: red;
}

/* Sizes */
.astro_be .astro_be_input:not(.astro_be_input-submit_button),
.astro_be .astro_be_select {
    width: -webkit-fill-available;
}
.astro_be .astro_be_input-checkin,
.astro_be .astro_be_input-checkout {
    width: 10ch;
}

/* Media queries */
@media only screen and (max-width: 767px) {
    .astro_be .astro_be_hide_mobile {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) {
    .astro_be .astro_be_form,
    .astro_be .astro_be_dates,
    .astro_be .astro_be_occupancy,
    .astro_be .astro_be_submit_button {
        display: flex;
        justify-content: center;
    }
}